.title {
    text-align: left;
}

.addPostDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPostInput {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
}

.addPostButton {
    padding: 10px;
    width: 40%;
    color: black;
    background-color: #4c9adb;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postBox {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.post {
    text-align: left;
    font-weight: bold;
}

.commentsList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 0px;
}

.comment {
    text-align: left;
}

.deleteCommentButton {
    cursor: pointer;
    color: red;
    margin-right: 5px;
    font-size: 10px;
}

.addCommentInput {
    margin-right: 10px;
    margin-left: 10px;
}

.deleteButton {
    padding: 10px;
    width: fit-content;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}