.about-me {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-top: 3px solid #000000;
}

.about-me-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.about-me-text {
    font-size: 10px;
    margin: 0;
}