.genrate-btn {
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    bottom: 0;
    left: 0;
}