.quote-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 50%;
    min-width: fit-content;
    height: fit-content;
    min-height: fit-content;
    padding: 10px;
    margin: 10px;


}

.quote-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.quote {
    font-size: 25px;
    font-style: italic;
    margin: 0;
}