.card {
    width: 50%;
    min-width: fit-content;
    height: fit-content;
    min-height: fit-content;
    background-color: #5f97d5;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 2px solid #000;
}