ul {
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

span {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

span:hover {
    color: white;
    background-color: red;
    border-radius: 5px;
}


body {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}