.notes {
    width: 70vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(230px, 1fr));
    justify-content: center;
}






@media (max-width: 768px) {
    .notes {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}