.search {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.noteSearch {
    width: 48%;
    margin: auto;
    display: flex;
}

.noteSearch input {
    margin-left: 0;
    width: 50%;
    height: 3vh;
    margin-top: 2vh;
    box-shadow: 2px 2px 10px 2px rgb(89, 119, 136);
    border: none;
    border-radius: 5px;

}