.note-modal {
    background-color: rgba(102, 102, 102, 0.7);
    position: fixed;
    inset: 0;
    align-content: center;
    justify-items: center;
}

.note-modal .note {
    background-color: rgba(255, 255, 255, .9);
    width: 500px;
    height: 300px;
}

.note-modal .formParent {
    background-color: #ffff;
}


@media (max-width: 690px) {
    .note-modal .note {
        width: 300px;
        height: 300px;
    }

}