.search {
    position: sticky;
    top: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
    gap: 10px;
}

.noteSearch {
    background-color: white;
    width: 300px;
    padding-left: 15px;
}

.noteSearch input {
    width: 100%;
    box-shadow: 2px 2px 10px 2px rgb(89, 119, 136);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.checkBoxFilter {
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgb(89, 119, 136);
    padding-right: 10px;
    border-radius: 5px;
    align-content: center;
}