.profile {
    width: 50vw;
    height: 100vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
}

.profile Input {
    width: 50vw;
}

.profile Button {
    width: 10vw;
    margin-top: 10px;
}

.profile form label {
    width: 100%;
    text-align: left;
}

.profile .title {
    font-size: xx-large;
}