.create-tweet-form {
    border: 1px solid #FFFFFF;
    width: 50%;
    height: 150px;
    min-height: 150px;
    margin-top: 0px;
}

.create-tweet-form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.create-tweet-form .input {
    width: 100%;
    height: 70%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    line-height: normal;
    vertical-align: top;
    padding: 8px;
}

.create-tweet-form .input::placeholder {
    color: #FFFFFF;
    font-style: normal
}



.create-tweet-form .tweet-btn {
    width: 15%;
    padding: 1%;
    margin: 2%;
}