nav {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(29, 27, 27);
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

.active {
    color: aliceblue;
}

nav>*:hover {
    color: rgb(18, 140, 221);
}